@import '../cmps/email-filter.css';
@import '../cmps/email-list.css';
@import '../cmps/email-details.css';
@import '../cmps/email-preview.css';
@import '../cmps/email-compose.css';
.email-app {
    background-color: #DEE1EC;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    padding: 0.5rem 0;
}

.email-app .main {
    min-height: 80vh;
    padding: 0 0.25rem;
    background-color: rgb(0, 0, 0, 0.05);
    margin: 0 auto;
    display: flex;
    width: 90%;
    align-content: center;
}

.email-app .side-menu {
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.email-app .side-menu li {
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px 50px 50px 10px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.email-app .side-menu a {
    color: black;
}

.email-app .side-menu .compose {
    background-color: #DEE1EC;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100px;
}

.email-app .side-menu .compose::before {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.email-app .side-menu .inbox::before {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.email-app .side-menu .sent::before {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.email-app .side-menu .starred::before {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.email-app .side-menu .drafts::before {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}

.star:hover,
.starred {
    color: orange;
    cursor: pointer;
}

.star:hover,
.selected {
    color: orange;
}

.email-app .side-menu li:hover:not(:first-child) {
    background-color: #DEE1EC;
    border-radius: 10px 50px 50px 10px;
}

.myStatus {
    width: 90%;
    margin: 0 auto;
    background-color: #e9ecef;
    height: 20px;
    font: 1rem;
    position: relative
}

.myStatus p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myBar {
    width: 1%;
    height: 20px;
    text-align: center;
    background-size: 20px 20px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}