.email-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 2px solid #e3e8ea;
}

.email-list-container {
    width: calc(100% - 250px);
}

.email-list-container .email-list .email-preview-container a {
    color: black;
}