.email-list {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
}

.email-list-container {
    flex: 1;
}

.email-list-container .email-list .email-preview-container a {
    color: black;
}