.email-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 15px 15px;
    border-bottom: solid grey 1px;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.email-preview .from {}

.email-preview .content {}

.unread {
    background-color: #3a0202b7;
}

.read {
    background-color: #ffffff77;
    font-weight: normal;
}


/* .email-preview:hover {
    z-index: 3;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */