            .keep-add {
                display: flex;
                justify-content: center;
                gap: 10px;
                background-color: #fff;
                border-radius: 10px;
                width: fit-content;
                margin: 1.5rem auto;
                max-width: 100%;
            }
            
            .keep-add * {
                font-size: 1.2rem;
            }
            
            .keep-add input {
                padding: 0.5em 1.4em;
                line-height: 1.5;
                height: fit-content;
                outline: none;
                border: none;
                border-radius: 10px;
            }
            
            .keep-add button {
                background-color: transparent;
                border: none;
                opacity: 0.5;
            }
            
            .keep-add button:last-of-type {
                padding-right: 5px;
            }
            
            .keep-add button:hover,
            .keep-add button.selected {
                opacity: 1;
            }